/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    color: #fff;
    background-color: #000;
}

/* navigation bar css */
.navigation {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90vh;
    background-color: rgba(128, 128, 128, 0.563);

}

.navigation>img {
    position: relative;
    width: 100%;
    max-width: 120px;
    height: auto;

}

.navigation>ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.1vh 0.1vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navigation>ul>li {

    width: max-content;
    padding: 1vh 1vw;
    margin: 0.9vh 1vw;
    display: flex;

    /* gap: 3vw; */

}

.navigation>ul>li>img {
    position: relative;
    width: 100%;
    max-width: 3.8vw;
    height: auto;
    filter: invert(100%);
}

.navigation>ul>li a {
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.navigation>ul>li a:hover {
    cursor: pointer;
    color: rgb(203, 166, 17);
}

.body {
    display: flex;
}

.main {
    display: flex;
}

.card1 {
    border: 2px solid green;
    position: relative;
    height: 40vh;
    width: 20vw;
    margin: 0.5vh 0.5vw;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card1>div {
    font-size: 15px;
}

.card1>img {
    position: relative;
    width: 100%;
    max-width: 120px;
    height: auto;
    filter: invert(100%);
}

.btn {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: #000;
    font-size: 30px;
    background-color: rgb(203, 166, 17);
    border: 2px solid rgb(203, 166, 17);
    padding: 0.5vh 0.5vw;
    border-radius: 4rem;
}

.btn:hover {
    font-weight: bold;
    border-radius: 4rem;
    border: 2px solid rgb(203, 166, 17);
    cursor: pointer;
    /* color:aqua; */
    background-color: #000;
    color: #fff;
}

.content2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
}